<%= render 'layouts/header' %>
<body>
<%= render 'layouts/head' %>
<div class="container side-collapse-container">
  <div class="row">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
